.personalIformation.bgFormColor.formEditWrap.changePassword {
    max-width: 560px;
    h4 {
        margin: 48px 0 32px;
        font-size: 19px;
        font-weight: 500;
        line-height: 22.4px;
    }
}
button.eyeBtn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    &::before {
        content: '';
        position: absolute;
        right: 35px;
        top: 4px;
        width: 1px;
        height: 20px;
        background: rgba(90, 90, 90, 1);
    }
}