.monthWrapper {
    margin: 30px 0 140px 0;
    ul.breadcrumbWrapper {
        margin-bottom: 40px;
        display: flex;
        gap: 12px;
        li {
            a,span {
                color: #121C27;
                font-size: 16px;
                font-weight: 600;
                line-height: 19.2px;
                text-align: left;
            }
            a {
                text-decoration: underline;
            }
        }
    }
    .bgFormColor  {
        background: #F9F9F9;
        border-radius: 24px;
        padding: 24px;
        .searchTitleWrap {
            margin-bottom: 24px;
            label {
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                text-align: left;
                color: #030D12;
            }
            .searchWrap {
                form {
                    width: 310px;
                    position: relative;
                    button {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        background: transparent;
                        border: none;
                        padding: 12px;
                    }
                    input.form-control {
                        background: #fff;
                        padding-left: 40px;
                        border: 1px solid #EFF1F4;
                        &:focus {
                            border: 1px solid rgba(26, 128, 199, 0.6);
                        }
                    }
                }
                .filterDropdown {
                    button.dropdown-toggle {
                        background: transparent;
                        padding: 0;
                        border: 1px solid #EFF1F4;
                        &::after {
                            display: none;
                        }
                    }
                    .dropdown-menu {
                        max-height: 300px;
                        overflow-y: auto;
                        scrollbar-width: thin;
                        padding: 8px;
                        border-radius: 12px;
                        button {
                            padding: 16px 12px;
                            font-size: 14px;
                            border-radius: 12px;
                            font-weight: 500;
                            line-height: 19.6px;
                            text-align: left;
                            border: none;
                            background: transparent;
                            width: 100%;
                            margin: 2px 0;
                            &:hover {
                                background-color: #2194FF33;
                            }
                        } 
                        button.active {
                            background-color: #2194FF33;
                        }
                    }
                }
            }
        }
        .tableWrapper {
            width: 100%;
            border-radius: 10px;
            th {
                border: none !important;
                background-color: transparent !important;
            }
            tbody {
                border-radius: 10px;
                tr {
                    border-bottom: 4px solid #F9F9F9;
                    border-radius: 10px;
                    td {
                        background-color: #ECECEC;
                        padding: 12px 16px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20.8px;
                        text-align: left;
                        color: #1A1A1A;
                        border: none !important;
                        &:first-child {
                            border-radius: 15px 0 0 15px;
                        }
                        &:last-child {
                            border-radius: 0 15px 15px 0;
                        }
                        a.confirmBtn {
                            background: #121C27;
                            border: 1px solid #121C27;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 14px;
                            letter-spacing: -0.20000000298023224px;
                            text-align: center;
                            color: #fff;
                            border-radius: 50px;
                            padding: 11px 18px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .monthWrapper {
        ul.breadcrumbWrapper {
            margin-bottom: 20px;
        }
        .bgFormColor {
            padding: 15px;
            .searchTitleWrap {
                flex-direction: column;
                gap: 15px;
                align-items: flex-start !important;
                .searchWrap {
                    width: 100%;
                    form {
                        width: 100%;
                    }
                }
            }
        }
    }
}